* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #011627;
  background-color: #cfcccc;
}

h1 {
  color: #006D77;
}

h2 {
  color: #006D77;
}

h3 {
  color: #006D77;
}



/*
.ask {
 color: #E29578;
}
.karen {
color:#006D77;
}

*/

.primary {
  color: #006D77;
}

.secondary {
  color: #E29578;
}






.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". Search-Results Search-Results"
    "Categories Search-Results Search-Results"
    "Categories Search-Results Search-Results"
    ". Search-Results Search-Results";
}

.Categories {
  grid-area: Categories;
}

.Search-Results {
  grid-area: Search-Results;
}