/* Overall Style Choices */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #011627;
  background-color: #f8f8f8;
}

::placeholder{
  color:  #011627;
}

/* Headings Styles */
h1,
h2,
h3,
h4,
h7 {
  color: #006D77;
  font-family: 'Noto Serif JP', serif;
}
/* End Heading Styles */

/* General Selector Styles */
p {
  color: #011627;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
}

a {
  font-family: 'Heebo', sans-serif;
}

li {
  color: #011627;
  font-family: 'Heebo', sans-serif;
  font-size: 18px;
}
/* End */

.container {
  padding-top: 40px;
}

/*Modal Styles*/
.modal-btn {
  background-color: #f8f8f8!important;

}

.modal-btn:hover{
  background-color: #E29578!important;
}

.question{
  color:#011627;
}
/* End Modal Styles */

/* Button Styles */
.btn {
  background-color: #011627;
}

.btn:hover {
  background-color: #E29578;
}

.btn:visited {
  background-color: #006D77;
}

/* Preloader */
.preloader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: auto;
  color: #006D77!important;

}

.circle{
   color:  #006D77!important;
}

/* icon styles */
i {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

/* Class Styles */
.primary {
  background-color: #006D77;
  color: #fff;
}

.secondary {
  background-color: #E29578;
  color: #fff;
}

.card{
  border-radius: 3px;
  background-color: #ebfdff

}

a.info-display{
  padding: 10px;
  margin: 10px 0 10px 0;

}
button.info-display {
    color: white;

}
/* .identifier{

} */

/* City Search */

#city-input {
  border-bottom: #006D77 1px solid;
}

.card-action{
  background-color:#011627!important;
}

/* city input button styles */
.citylink-btn{
  font-size: 20px;
  color: white;
  padding: 20px;
  background-color:  #006D77;
  text-align: center;
}

.whatever{
  margin: 10px 0 10px 60px;
}
/* city input testing/debug styles ^^ */
/* results window styles*/
.results-window .card-content{
  font-size: 18px;
  background-color:  #011627;
}

#bad-advice{
  padding: 60px 0 40px 0;
}
/* ADDED BY ETHAN 10/20/2020 EDITED BY COURTNEY 10/22/2020 */
.cities {
  text-align: center;
  text-transform: capitalize;
  margin-top: 15px;
  width: 20%;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
}

.cities:hover {
  color: white;
  background-color:  #E29578;
  cursor: pointer;
}

.hide {
  display: none;
}

.rest-btn{

  background-color: #006D77;
  text-align: center;
}


/* ad styles*/

.adSource {
  position: relative;
  z-index: 1;
  top: 20px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
  text-align: center;
}

#adBox {
  background-color: rgba(0, 0, 0, 0);
}