/* Overall Style Choices */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #011627;
  background-color: #fff4f0;
}


/* Headings Styles */
h1,
h2,
h3,
h4,
h7 {
  color: #006D77;
  font-family: 'Noto Serif JP', serif;
}

p {
  color: #011627;
  font-family: 'Heebo', sans-serif;
}

a {
  font-family: 'Heebo', sans-serif;
}

.container {
  padding-top: 40px;
}

/*Modal Styles*/
.mymodal {

}

/* Button Styles */
.btn {
  background-color: #011627;
}

.btn:hover {
  background-color: #E29578;
}

.btn:visited {
  background-color: #006D77;
}

/* Preloader */
.preloader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: auto;
}

/* icon styles */
i {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

/* Class Styles */
.primary {
  background-color: #006D77;
  color: #fff;
}

.secondary {
  background-color: #E29578;
  color: #fff;
}

.card{
  border-radius: 3px;
  background-color: #ebfdff
}

a.info-display{
  padding: 10px;
  margin: 10px 0px 10px 0px;

}
button.info-display {
    color: white;

}
/* .identifier{

} */

/* City Search */

#city-input {
  border-bottom: #006D77 1px solid;
}

.citylink-btn{
  color: white; 
  padding: 20px;
  background-color:  #006D77;
  text-align: center; 

}
.whatever{
  margin: 10px 0px 10px 60px;
}

/* results window styles*/
.results-window .card-content{
  font-size: 18px;
  color: #011627;
  background-color: #fff4f0;
}

/* ADDED BY ETHAN 10/20/2020 EDITED BY COURTNEY 10/22/2020 */
.cities {
  text-align: center;
  display: block;
  text-transform: capitalize;
  margin-top: 15px;
  width: 20%;
  font-family: 'Heebo', sans-serif;
  font-weight: 600;
  color: #011627;
}

.cities:hover {
  color: #006D77;
  cursor: pointer;
}

.hide {
  display: none;
}