/* Overall Style Choices */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #011627;
  background-color: #E8E8E8;
}


/* Headings Styles */
h1,
h2,
h3 {
  color: #006D77;
}

.container {
  padding-top: 40px;
}
/* Button Styles */
.btn {
  background-color: #011627;
}

.btn:hover {
  background-color: #E29578;
}

.btn:visited {
  background-color: #006D77;
}


/* icon styles */
i {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}


/* Class Styles */
.primary {
  background-color: #006D77;
  color: #fff;
}

.secondary {
  background-color: #E29578;
  color: #fff;
}